<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/menu.js"></script>
    <link rel="stylesheet" href="../style/main.css">
    <title>Alarmes</title>
</head>
<body>
    <div class="divYellow"></div>
    <div class="divGreen"></div>

    <div class="content">

        <div id="alarm">

            <div class="alarm_galery">
                <div class="alarm_galery_titulo">
                    GALERIA 1
                </div>

                <div class="body_alarm">
                    
                    <table>
                        <thead>
                            <tr>
                                <th class="titulo_alarmes"></th>
                                <th class="titulo_bomba">BB-01-01</th>
                                <th class="titulo_bomba">BB-02-01</th>
                                <th class="titulo_bomba">BB-03-01</th>
                                <th class="titulo_bomba">BB-04-01</th>
                                <th class="titulo_bomba">BB-05-01</th>
                                <th class="titulo_bomba">BB-06-01</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="titulo_alarmes">ALARME TÉRMICO</th>
                                <td id="bomba1_1_termico_alarme" class="piscar"></td>
                                <td id="bomba2_1_termico_alarme" class="piscar"></td>
                                <td id="bomba3_1_termico_alarme" class="piscar"></td>
                                <td id="bomba4_1_termico_alarme" class="piscar"></td>
                                <td id="bomba5_1_termico_alarme" class="piscar"></td>
                                <td id="bomba6_1_termico_alarme" class="piscar"></td>
                            </tr>
                            <tr>
                                <th class="titulo_alarmes">ALARME FALTA DE FASE</th>
                                <td id="bomba1_1_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba2_1_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba3_1_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba4_1_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba5_1_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba6_1_falta_de_fase_alarme" class="piscar"></td>
                            </tr>
                            <tr>
                                <th class="titulo_alarmes">ALARME NÍVEL BAIXO</th>
                                <td id="bomba1_1_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba2_1_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba3_1_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba4_1_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba5_1_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba6_1_nivel_baixo_alarme" class="piscar"></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="alarm_galery">
                <div class="alarm_galery_titulo">
                    GALERIA 2
                </div>

                <div class="body_alarm">
                    
                    <table>
                        <thead>
                            <tr>
                                <th class="titulo_alarmes"></th>
                                <th class="titulo_bomba">BB-01-02</th>
                                <th class="titulo_bomba">BB-02-02</th>
                                <th class="titulo_bomba">BB-03-02</th>
                                <th class="titulo_bomba">BB-04-02</th>
                                <th class="titulo_bomba">BB-05-02</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="titulo_alarmes">ALARME TÉRMICO</th>
                                <td id="bomba1_2_termico_alarme" class="piscar"></td>
                                <td id="bomba2_2_termico_alarme" class="piscar"></td>
                                <td id="bomba3_2_termico_alarme" class="piscar"></td>
                                <td id="bomba4_2_termico_alarme" class="piscar"></td>
                                <td id="bomba5_2_termico_alarme" class="piscar"></td>
                                
                            </tr>
                            <tr>
                                <th class="titulo_alarmes">ALARME FALTA DE FASE</th>
                                <td id="bomba1_2_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba2_2_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba3_2_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba4_2_falta_de_fase_alarme" class="piscar"></td>
                                <td id="bomba5_2_falta_de_fase_alarme" class="piscar"></td>
                             
                            </tr>
                            <tr>
                                <th class="titulo_alarmes">ALARME NÍVEL BAIXO</th>
                                <td id="bomba1_2_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba2_2_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba3_2_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba4_2_nivel_baixo_alarme" class="piscar"></td>
                                <td id="bomba5_2_nivel_baixo_alarme" class="piscar"></td>
                            
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        <div class="alarm_img">
            <div class="conexao">
                <div class="conexao_alarme" id="conexao_clp_1">DESCONECTADO</div>
                <div class="conexao_alarme" id="conexao_clp_2">DESCONECTADO</div>
            </div>
            <div class="conexao conexao-medidor">
                
                <div class="conexao_alarme" id="conexao_medidor_1">DESCONECTADO</div>
                <div class="conexao_alarme" id="conexao_medidor_2">DESCONECTADO</div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="../script/alarmes.js"></script>
</body>
</html>