<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style/main.css">
    <title>Dados</title>
</head>
<body>
    <div class="divYellow"></div>
    <div class="divGreen"></div>
    <div class="container">
        <span id="title">GALERIA 1</span>
        <div class="galery">
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b1_1">
                    <img src="../img/bomba.svg" id="bomba1_1_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-01-01</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba1_1_r_horimetro">--</div>
                        <button class="reset" name="cmd_reset_b1_clp_1"><img id="reset_b1_1" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba1_1_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba1_1_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba1_1_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b2_1">
                    <img src="../img/bomba.svg" id="bomba2_1_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-02-01</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba2_1_r_horimetro">--</div>
                        <button class="reset" name="cmd_reset_b2_clp_1"><img id="reset_b2_1" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba2_1_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba2_1_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba2_1_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b3_1">
                    <img src="../img/bomba.svg" id="bomba3_1_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-03-01</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba3_1_r_horimetro">--</div>
                        <button class="reset" name="cmd_reset_b3_clp_1"><img id="reset_b3_1" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba3_1_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba3_1_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba3_1_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b4_1">
                    <img src="../img/bomba.svg" id="bomba4_1_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-04-01</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba4_1_r_horimetro">--</div>
                        <button class="reset" name="cmd_reset_b4_clp_1"><img id="reset_b4_1" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba4_1_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba4_1_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba4_1_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b5_1">
                    <img src="../img/bomba.svg" id="bomba5_1_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-05-01</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba5_1_r_horimetro">--</div>
                        <button class="reset" name="cmd_reset_b5_clp_1"><img id="reset_b5_1" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba5_1_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba5_1_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba5_1_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b6_1">
                    <img src="../img/bomba.svg" id="bomba6_1_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-06-01</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba6_1_r_horimetro">--</div>
                        <button class="reset" name="cmd_reset_b6_clp_1"><img id="reset_b6_1" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba6_1_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba6_1_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba6_1_r_partidas_mes">--</div>                    
                </div>
            </div> 
        </div>
        
    </div>

    <div class="container">
        <span id="title">GALERIA 2</span>
        <div class="galery">
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b1_2">
                    <img src="../img/bomba.svg" id="bomba1_2_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-01-02</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba1_2_r_horimetro">--</div>
                        <button class="reset" ><img id="reset_b1_2" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba1_2_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba1_2_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba1_2_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b2_2">
                    <img src="../img/bomba.svg" id="bomba2_2_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-02-02</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba2_2_r_horimetro">--</div>
                        <button class="reset"><img id="reset_b2_2" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba2_2_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba2_2_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba2_2_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b3_2">
                    <img src="../img/bomba.svg" id="bomba3_2_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-03-02</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba3_2_r_horimetro">--</div>
                        <button class="reset"><img id="reset_b3_2" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba3_2_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba3_2_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba3_2_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b4_2">
                    <img src="../img/bomba.svg" id="bomba4_2_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-04-02</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba4_2_r_horimetro">--</div>
                        <button class="reset"><img id="reset_b4_2" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba4_2_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba4_2_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba4_2_r_partidas_mes">--</div>                    
                </div>
            </div>
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b5_2">
                    <img src="../img/bomba.svg" id="bomba5_2_status" alt="Bomba">
                </button>               
                <div class="bombaParametros">
                    <label class="tag">BB-05-02</label>
                    <h4>Horas de funcionamento</h4>
                    <div class="horimetro">                        
                        <div class="dadosHorimetro" id="bomba5_2_r_horimetro">--</div>
                        <button class="reset"><img id="reset_b5_2" src="../img/reset.svg" alt=""></button>
                    </div>
                    <h4>Consumo</h4>                
                    <div id="bomba5_2_r_consumo">--</div>
                    <h4>Nº de partidas 24H</h4>
                    <div id="bomba5_2_r_partidas_24">--</div>
                    <h4>Nº de partidas Mês</h4>
                    <div id="bomba5_2_r_partidas_mes">--</div>                    
                </div>
            </div>
           
        </div>
        
    </div>


    <div id="popup_cmd_bomba" class="popup">
        <h4>LIGAR / DESLIGAR BOMBA?</h4>
        <div class="botaoConfirmacao">
            <button class="sim" id="sim">SIM</button>
            <button class="nao" id="nao">NÃO</button>
        </div>
    </div>

    <script src="../script/menu.js"></script>
    <!-- <script type="text/javascript" src="../script/principal.js"></script> -->
    <script type="text/javascript" src="../script/dados.js"></script>
</body>
</html>