<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style/main.css">
    <title>Principal</title>
</head>
<body>
    <div class="divYellow"></div>
    <div class="divGreen"></div>
    
    <div class="container">
        <span id="title">GALERIA 1</span>
        <div class="galery">
            <!-- Bomba 1 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b1_1">
                    <img src="../img/bomba.svg" id="bomba1_1_status" alt="Bomba">
                </button>                
                <div class="bombaDados">
                    <h4>TAG</h4>
                    <label >BB-01-01</label>
                    <h4>FASE</h4>
                    <label id="bomba1_1_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba1_1_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba1_1_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 2 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b2_1">
                    <img src="../img/bomba.svg" id="bomba2_1_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-02-01</label>
                    <span>FASE</span>
                    <label id="bomba2_1_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba2_1_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba2_1_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 3 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b3_1">
                    <img src="../img/bomba.svg" id="bomba3_1_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-03-01</label>
                    <span>FASE</span>
                    <label id="bomba3_1_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba3_1_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba3_1_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 4 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b4_1">
                    <img src="../img/bomba.svg" id="bomba4_1_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-04-01</label>
                    <span>FASE</span>
                    <label id="bomba4_1_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba4_1_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba4_1_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 5 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b5_1">
                    <img src="../img/bomba.svg" id="bomba5_1_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-05-01</label>
                    <span>FASE</span>
                    <label id="bomba5_1_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba5_1_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba5_1_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 6 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b6_1">
                    <img src="../img/bomba.svg" id="bomba6_1_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-06-01</label>
                    <span>FASE</span>
                    <label id="bomba6_1_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba6_1_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba6_1_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <span id="title">GALERIA 2</span>
        <div class="galery">
        <!-- Bomba 1 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b1_2">
                    <img src="../img/bomba.svg" id="bomba1_2_status" alt="Bomba">
                </button>
                
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-01-02</label>
                    <span>FASE</span>
                    <label id="bomba1_2_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba1_2_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba1_2_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 2 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b2_2">
                    <img src="../img/bomba.svg" id="bomba2_2_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-02-02</label>
                    <span>FASE</span>
                    <label id="bomba2_2_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba2_2_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba2_2_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 3 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b3_2">
                    <img src="../img/bomba.svg" id="bomba3_2_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-03-02</label>
                    <span>FASE</span>
                    <label id="bomba3_2_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba3_2_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba3_2_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 4 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b4_2">
                    <img src="../img/bomba.svg" id="bomba4_2_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-04-02</label>
                    <span>FASE</span>
                    <label id="bomba4_2_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba4_2_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba4_2_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bomba 5 -->
            <div class="bomba">
                <button class="botaoBomba" name="cmd_b5_2">
                    <img src="../img/bomba.svg" id="bomba5_2_status" alt="Bomba">
                </button>
                <div class="bombaDados">
                    <span>TAG</span>
                    <label >BB-05-02</label>
                    <span>FASE</span>
                    <label id="bomba5_2_rele">---</label>
                    <h4>TEMPERATURA</h4>
                    <label id="bomba5_2_r_temperatura">---</label>
                    <span>NÍVEL</span>                   
                    <div class="nivel">                     
                            <div id="barraNivel" data-ls-module="progressBar" role="progressbar" aria-valuenow="80" class="ls-animated">
                                <div id="bomba5_2_nivel"></div>
                            </div>                
                        <div id="nomeNivel">
                            <span>Baixo</span>
                            <span>Alto</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="popup_cmd_bomba" class="popup">
        <h4>LIGAR / DESLIGAR BOMBA?</h4>
        <div class="botaoConfirmacao">
            <button class="sim" id="sim">SIM</button>
            <button class="nao" id="nao">NÃO</button>
        </div>
    </div>



    <script src="../script/menu.js"></script>
    <script type="text/javascript" src="../script/principal.js"></script>

</body>
</html>